* {
    height: auto;
    background-color: #D1D1FF;
    box-sizing: border-box;
}

body {
    margin: 0%;
}

header {
    text-align: center;
    margin: 0;
}

h1 , h2 {
    margin: 0;
    padding: 0;
    font-family: "Press Start 2P", system-ui;
    font-weight: bold;
    font-style: normal;
    margin-top: 3%;
    text-transform: uppercase;
}

h1 {
    font-size: 60px;
}

#todoForm, #todoDetails {
    justify-content: center;
    margin: auto;
}

#todoForm {
    max-width: 500px;
    width: 300px;
    margin-top: 2%;
}

#todoDetails {
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 50%;
    width: 100%;
}

#todoDetails div {
    padding: 3%;
    border: 3px solid;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    margin-bottom: 3%;
    width: 100%;
    margin-left: 3%;
    margin-right: 3%;
}

ul {
    list-style: none;
    padding: 0%;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: black;
    text-decoration: underline;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

input, select {
    width: 100%;
    margin-bottom: 3%;
    box-sizing: border-box;
}

#formStyle {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input:focus {
    outline: none;
}

#addTodoButton, #clearTodosButton, input, select {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

label {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}


input:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }

#addTodoButton:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }

#clearTodosButton:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }

@media only screen and (max-width: 1000px) {
#addTodoButton, #clearTodosButton {
    padding: 0.25em 0.75em;
  }
#todoDetails {
    max-width: 80%;
    min-width: 295px;
}
}
